:root {
	font-family: 'Josefin Sans', sans-serif;
}

main {
    background: url('../images/header.jpg') no-repeat top center;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    text-align: center;
    flex-direction: column;
    padding-top: 265px;
    font-style: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif; 
}

h2 {
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif; 
}

.search input {
    font-size: 8px;
	color: #999999;
	background: #fff;
    width: 650px;
    height: 60px;

}